<div class="row">
  <div id="content" class="span10">

    <h1 data-bind="t.index.heading | t"></h1>
    <p class="welcome" data-bind="t.index.welcome_text | t"></p>

    <div data-hideif="searchQueryError">
      <h2 data-bind="t.search.showing_listings | t {'count': 'searchAds.length', 'searchQuery': 'searchQuery'}"></h2>
      <ul id="listings">
        <li data-foreach-ad="searchAds" class="ad row">
          <div data-partial="ads/_ad"></div>
        </li>
      </ul>
    </div>
    <div data-showif="searchQueryError" class="error" data-bind="t.search.missing_query | t">
    </div>

  </div>

  <div id="sidebar" class="span6" data-partial="ads/_index_sidebar"></div>
</div>
